<div class="page-content small-11 small-centered columns">

  <h2> User: <%= @user.username %> </h2>

  <div class="row">
    <div class="show-info-left small-12 small-centered medium-4 medium-uncentered columns">

      <div class="profile-left">
        <%= image_tag "#{current_user.avatar}" %>

        <div class="profile-info">          
          <p>Meetups attended: <%= @user.attendees.length %></p>

          <% if current_user == User.find(params[:id]) %>

            <div id="edit-user-button">
              <%= link_to "Edit User Info",
                  edit_user_registration_path,
                  class: "button alert radius tiny" %>
            </div>
          <% end %>
        </div>
      </div>

    </div>

    <div class="small-12 medium-8 columns">
      <h4> <%= @user.username %>'s Games</h4>
      <% @user.meetups.each do |meetup| %>
        <div class="">
          <%= link_to meetup.court.name, court_path(meetup.court) %> at
          <%= meetup.start_time.strftime('%a. %m/%d, %l:%M %P') %> <br>
        </div>
      <% end %>
    </div>

  </div>

</div>
