<div class="page-content small-11 small-centered columns">

  <h4>
    <%= @court.name %> meetup on
    <%= @meetup.start_time.strftime('%b. %e at %l:%M %P') %>
  </h4>

  <%= form_for [@court, @meetup] do |f| %>

    <%= f.label :condition, "Updates" %>
    <%= f.text_area :condition,
        placeholder: "How many people are playing? What condition is the court in?",
        required: true %>

    <%= f.submit ("Update Game")%>
  <% end %>

</div>
