<div class="page-content small-11 small-centered columns">

  <h2>Schedule a game at <%= @court.name %></h2>
  <%= form_for [@court, @meetup] do |f| %>

    <div class="meetup-day-form">
      <%= f.label :start_time %>
      <%= select_tag(:start_day, options_for_select(@days)) %>
    </div>

    <div class="meetup-hour-form">
      <%= select_tag(:start_hour, options_for_select(@hours)) %>
    </div>
    :
    <div class="meetup-minute-form">
      <%= select_tag(:start_minute, options_for_select(@minutes)) %>
    </div>

    <div class="meetup-description-form">
      <%= f.label :description %>
      <%= text_area_tag :description %>
    </div>

    <div class="submit-meetup-button">
      <%= f.submit ("Schedule Game"), class: "button radius"%>
    </div>
  <% end %>

</div>
