<div class="page-content small-11 small-centered columns">

  <h2>Schedule a game at <%= @court.name %></h2>
  <%= form_for [@court, @meetup] do |f| %>

    <%= f.label :start_time %>
    <%= select_tag(:start_day, options_for_select(@days)) %>

    <%= select_tag(:start_hour, options_for_select(@hours)) %>

    <%= select_tag(:start_minute, options_for_select(@minutes)) %>

    <%= f.label :description %>
    <%= text_area_tag :description %>

    <%= f.submit ("Schedule Game"), class: "button radius"%>
  <% end %>

</div>
