<div id="page-content" class="small-11 small-centered columns">

  <h2>Schedule a meetup at <%= @court.name %></h2>
  <%= form_for [@court, @meetup] do |f| %>

    <%= f.label :start_time %>
    <%= f.datetime_select :start_time,
                          { ampm: true, minute_step: 15,
                          start_year: Time.now.year,
                          end_year: (Time.now.year + 1),
                          start_hour: 6,
                          end_hour: 22,
                          default: Time.now },
                          { class: "isetglvjr"}
                          %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.submit ("Schedule Meetup")%>
  <% end %>

</div>
