<div class="search-form">
  <%= form_tag(courts_path, :method => "get") do %>

    <%= label_tag :range, "Show courts within", class: "search-label" %>
    <%= select_tag :range,
        options_for_select([5, 10, 15, 20], @range),
        id: "range-box" %>

    <%= label_tag :location, "miles of", class: "search-label" %>
    <%= text_field_tag :location,
        params[:location],
        id: "location-box",
        value: @query_location,
        required: true,
        id: "location-box" %>

    <button>Discover!</button>
  <% end %>
</div>
