<div class="page-content small-11 small-centered columns">
  <h1>Discover Courts</h1>

  <%= render "layouts/search" %>

  <div class="row index-container">

    <div class="medium-7 columns">
      <ol class="courts-container">
        <% if @courts.empty? %>
          <h5>
            No courts marked near that area.
            <%= link_to "Click here to add one.", new_court_path %>
          </h5>
        <% else %>
          <% @courts.each do |court| %>
            <li class="listed-court">
              <%= link_to court.name, court_path(court) %><br>
              <%= court.full_address %><br>
              <%= court.setting %><br>
              <%= court.distance_from(@user_coordinates).round(1) %> miles away
              <% unless court.meetups_today.empty? %>
                <br><b>Games happening today!</b>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ol>
    </div>

    <% unless @courts.empty? %>
      <div class="index-map-container medium-4 columns left">
        <div id="indexMap"
          data-user=<%=@user_coordinates.join(',')%>
          data-lats=<%=@court_lats.join(',')%>
          data-lons=<%=@court_lons.join(',')%>
          data-zoom=<%=@zoom%> >
        </div>
      </div>
    <% end %>

  </div>

  <div class="page-links">
    <%= paginate @courts %>
  </div>
</div>
