<div id="page-content" class="small-11 small-centered columns">
  <h1><%= @court.name %></h1>

  <div class="row">

    <div class="show-info-left small-12 small-centered medium-4 medium-uncentered columns">
      <div id="showMap"
        data-lat=<%= @court.latitude %>
        data-lon=<%= @court.longitude %> >
      </div>

      <div id="court-show-info">
        <h5>Address:</h5>
        <%= @court.street_address %><br>
        <%= @court.city %>, <%= @court.state %> <%= @court.zip %>
        <br><br>
        <h5>Court Info:</h5>
        Setting: <%= @court.setting %><br>
        Number of Hoops: <%= @court.hoop_count %><br>
        <%= "Hours: #{@court.hours}" unless @court.hours == "" %><br>


      <br>

        <div id="edit-court">
          <%= link_to "Edit Court",
              edit_court_path(@court),
              class: "button alert radius tiny" %>
        </div>

      </div>
    </div>

    <div id="meetups-container" class="small-12 medium-8 columns">
      <%= render "meetups_container" %>
    </div>

  </div>
</div>
