<p id="lat" hidden><%= @court.latitude %></p>
<p id="lon" hidden><%= @court.longitude %></p>

<div id="page-content" class="small-12-centered medium-8-centered columns">
  <h1><%= @court.name %></h1>

  <div id="address-info">
    <h5>Address:</h5>
    <%= @court.street_address %><br>
    <%= @court.city %>, <%= @court.state %> <%= @court.zip %>
  </div>

  <div id="showMap" style="width:300px;height:200px;"></div>

  <div class="other-info">
    Setting: <%= @court.setting %><br>
    Number of Hoops: <%= @court.hoop_count %><br>
    <%= "Hours: #{@court.hours}" unless @court.hours.nil?%><br>
  </div>

  <br>
  <%= link_to "Edit Court", edit_court_path(@court) %>

  <%= javascript_include_tag 'show_marker' %>

</div>
