<div id="page-content" class="small-12-centered medium-8-centered columns">
  <h1><%= @court.name %></h1>

  <div id="address-info">
    <h5>Address:</h5>
    <%= @court.street_address %><br>
    <%= @court.city %>, <%= @court.state %> <%= @court.zip %>
  </div>

  <div id="googleMap" style="width:300px;height:200px;"></div>

  <div class="other-info">
    Setting: <%= @court.setting %><br>
    Number of Hoops: <%= @court.hoop_count %><br>
    <%= "Hours: #{@court.hours}" unless @court.hours.nil?%><br>
  </div>

  <br>
  <%= link_to "Edit Court", edit_court_path(@court) %>

  <%= link_to "Schedule a Meetup", new_court_meetup_path(@court) %>


  <% unless @meetups_today.empty? %>
    <div class="meetups-today">
      <h5>Meetups today:</h5>
      <ul>
        <% @meetups_today.each do |meetup| %>
          <li>
            <%= image_tag "#{meetup.user.avatar}", class: "user-avatar" %>
            <%= "#{meetup.user.username} -
              #{meetup.start_time.strftime('%l:%M %P')}" %>
            <%= render "meetup_details", meetup: meetup %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @meetups_this_week.empty? %>
    <div class="meetups-week">
      <h5>Later this week:</h5>
      <ul>
        <% @meetups_this_week.each do |meetup| %>
          <li>
            <%= image_tag "#{meetup.user.avatar}", class: "user-avatar" %>
            <%= "#{meetup.user.username} -
              #{meetup.start_time.strftime('%a. %m/%d, %l:%M %P')}" %>
              <%= render "meetup_details", meetup: meetup %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>
