<!DOCTYPE html>
<html>
<head>
  <title>Pickup Nation</title>
  <%= stylesheet_link_tag :application, media: :all %>
  <%= javascript_include_tag :modernizr %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% google_key = ENV["GOOGLE_MAPS_API_KEY"] %>
  <script
    src="//maps.googleapis.com/maps/api/js?key=#{google_key}">
  </script>
</head>
<body>

  <%= render "layouts/nav" %>

  <div id="background">

    <%- flash.each do |key, value| -%>
      <div data-alert class="alert-box <%= key %>">
        <%= value %>
        <a href="" class="close">&times;</a>
      </div>
    <%- end -%>

    <div class="row">

      <div id="dropdown-search" class="page-content small-11 small-centered columns" hidden>
        <%= render "layouts/search" %>
      </div>

        <%= yield %>

    </div>
  </div>
  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
